!include ../my.cnf

[mysqld.1]
wsrep-on=ON
wsrep-cluster-address=gcomm://
wsrep-provider=@ENV.WSREP_PROVIDER
binlog-format=ROW
plugin-wsrep-provider=ON
wsrep-provider-pc-npvo=ON
wsrep-provider-repl-max-ws-size=1024
